<div class="container">
  <h1 class="h1 match-title">Matchs à venir ⚽</h1>
  <div class="match-grid">
    <div class="match-card" (click)="openModal(match)" *ngFor="let match of matches">
      <div class="head">
        <div class="top">
          <div class="date">
            {{ match.date }}
          </div>
          <div class="heure">
            {{ match.heure }}
          </div>
        </div>
        <div class="location">
          {{ match.lieu }}
        </div>
      </div>
      <div class="separator"></div>
      <div class="content">
        <div class="equipes">
          {{ match.equipe1 }} vs {{ match.equipe2 }}
        </div>
        <div class="players">
          {{ match.joueurs?.length }} joueurs inscrits
        </div>
        <div class="status-inscrit" *ngIf="isCurrentUser(match)">
          Vous êtes inscrit(e) pour ce match.
        </div>
      </div>
    </div>
  </div>
  <app-modal-match [selectedMatch]="selectedMatch" [currentUser]="currentUser">
    <div class="title">
      MATCH DU {{ selectedMatch?.date }}
    </div>
    <div class="match-details">
      Le match se déroule à
      <span class="match-location">
      {{ selectedMatch?.lieu}}
    </span>
      à
      <span class="match-time">
       {{selectedMatch?.heure}}
    </span>
      , il y a
      <span class="match-players--length">
      {{ selectedMatch?.joueurs?.length }}
    </span>
      joueurs inscrits
    </div>
    <div class="list-players">
      Liste des joueurs présents
      <div class="flex-container">
        <div class="player" *ngFor="let player of selectedMatch?.joueurs">
          {{ player.prenom }}
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="status-inscrit">
        <button *ngIf="!isUserRegisteredForMatch(selectedMatch)" (click)="registerForMatch(selectedMatch.id)" class="btn btn-primary register-button">
          <span class="btn-label">
          Je m'inscris
          </span>        </button>
        <button *ngIf="isUserRegisteredForMatch(selectedMatch)" (click)="unregisterFromMatch(selectedMatch.id)" class="btn btn-danger unregister-button">
                    <span class="btn-label">
          Je me désinscris
          </span>
        </button>
      </div>
      <div class="status" *ngIf="isCurrentUser(selectedMatch)">
        Je suis
        <button
          class="status-button"
          (click)="changeStatus(isCurrentUser(selectedMatch), 'present')"
          [ngClass]="{
      'status-present': isCurrentUser(selectedMatch).status === 'present'
    }"
        >
          PRESENT
        </button>
        <button
          class="status-button"
          (click)="changeStatus(isCurrentUser(selectedMatch), 'absent')"
          [ngClass]="{
      'status-absent': isCurrentUser(selectedMatch).status === 'absent'
    }"
        >
          ABSENT
        </button>
      </div>
      <div class="match-status">
        CONFIRME
      </div>
    </div>

  </app-modal-match>
</div>
