<div class="container">
  <h1 class="h1 match-title">Matchs à venir ⚽</h1>
  <div class="match-grid">
    <div class="match-card" (click)="openModal(match)" *ngFor="let match of matches">
      <div class="head">
        <div class="top">
          <div class="date">
            {{ match.date }}
          </div>
          <div class="heure">
            {{ match.heure }}
          </div>
        </div>
        <div class="location">
          {{ match.lieu }}
        </div>
      </div>
      <div class="separator"></div>
      <div class="content">
        <div class="equipes">
          {{ match.equipe1 }} vs {{ match.equipe2 }}
        </div>
        <div class="players">
          {{ match.joueurs?.length }} joueurs inscrits
        </div>
        <div class="status-inscrit" *ngIf="getStatus(match) !== null">
          Tu es noté
          <span class="player-status" [ngClass]="{
            'status-present': getStatus(match),
            'status-absent': !getStatus(match)
          }">
            {{ getStatus(match) ? 'PRESENT' : 'ABSENT' }}
          </span>
          pour ce match
        </div>
      </div>
    </div>
  </div>
  <app-modal-match [selectedMatch]="selectedMatch" [currentUser]="currentUser">
    <div class="title">
      MATCH DU {{ selectedMatch?.date }}
    </div>
    <div class="match-details">
      Le match se déroule à
      <span class="match-location">
      {{ selectedMatch?.lieu}}
    </span>
      à
      <span class="match-time">
       {{selectedMatch?.heure}}
    </span>
      , il y a
      <span class="match-players--length">
      {{ selectedMatch?.joueurs?.length }}
    </span>
      joueurs inscrits
    </div>
    <div class="list-players">
      Liste des joueurs présents
      <div class="flex-container">
        <div class="player" *ngFor="let player of selectedMatch?.joueurs">
          {{ player.joueurId }}
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="status-inscrit">
        <button *ngIf="getStatus(selectedMatch) === null" (click)="registerForMatch(selectedMatch.id)">
          Je m'inscris
        </button>
        <span *ngIf="getStatus(selectedMatch) === 'present'">
      Je suis présent à ce match
    </span>
        <span *ngIf="getStatus(selectedMatch) === 'absent'">
      Je suis absent à ce match
    </span>
        <button *ngIf="getStatus(selectedMatch) === null" (click)="unregisterFromMatch(selectedMatch.id)">
          Je me désinscris
        </button>
      </div>
      <span *ngIf="getStatus(selectedMatch) === 'present'">
    Je suis présent à ce match
  </span>
      <span *ngIf="getStatus(selectedMatch) === 'absent'">
    Je suis absent à ce match
  </span>
      <div class="status" *ngIf="isCurrentUser(selectedMatch)">
        Je suis
        <button
          class="status-button"
          (click)="changeStatus(isCurrentUser(selectedMatch), 'present')"
          [ngClass]="{
      'status-present': isCurrentUser(selectedMatch).status === 'present'
    }"
        >
          PRESENT
        </button>
        <button
          class="status-button"
          (click)="changeStatus(isCurrentUser(selectedMatch), 'absent')"
          [ngClass]="{
      'status-absent': isCurrentUser(selectedMatch).status === 'absent'
    }"
        >
          ABSENT
        </button>
      </div>
      <div class="match-status">
        CONFIRME
      </div>
    </div>

  </app-modal-match>
</div>


