<div class="container">
  <h1 class="h1">Inscription</h1>

  <form (ngSubmit)="register()">
    <div class="form-group register">
      <label for="firstName">Prénom</label>
      <input [(ngModel)]="firstName" name="firstname" type="text" id="firstName" class="form-control" placeholder="Prénom" required
      />
      <label for="lastName">Nom</label>
      <input [(ngModel)]="lastName" name="lastname" type="text" id="lastName" class="form-control" placeholder="Nom" required
      />

    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="email" type="email" name="email" id="email" placeholder="Email" required />
      <label for="password">Password</label>
      <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="Mot de passe" required />
    </div>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </form>

</div>
