<header class="header">
  <div class="header-container">
    <a class="header-brand" routerLink="/">FUT5</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" routerLink="/matches">Matchs</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" routerLink="/teams">Équipes</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" routerLink="/login">Connexion</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" routerLink="/register">Inscription</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
