@import "../../../styles.scss";

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 80px;
}

.header-brand {
  color: $black;
  font-family: $tango;
  font-size: 2.2rem;
  text-decoration: none;
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  margin-left: 1rem;
}

.header-nav-link {
  color: #333;
  display: block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  color: $black;
  font-weight: $medium-weight;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 1px;
  //   left: 0;
  //   width: 100%;
  //   transition: transform 0.3s ease;
  //   transform: scaleX(0);
  //   transform-origin: top right;
  //   border-bottom: 1px solid $black;
  // }

  // &:hover {
  //   text-decoration: none;

  //   &::after {
  //     transform: scaleX(1);
  //     transform-origin: top left;
  //   }
  // }
}
