<div id="card">
  <img src="assets/img/PlayerCard.svg" alt="card" id="background"/>
  <div class="grid">
    <div id="global-stats">
      <span id="big-stat">{{perf}}</span>
      <span id="nickname">{{nickname | uppercase}}</span>
      <img src="assets/img/rank-6.png"/>
    </div>
    <img id="picture" src="assets/img/mbappe.png" alt="mbappe"/>
    <div class="bot-left-number bottom">
      <span>{{PAC}}</span>
      <span> {{SHO}}</span>
      <span>{{PAS}}</span>
    </div>
    <div class="bot-left-stats bottom">
      <span>PAC</span>
      <span>SHO</span>
      <span>PAS</span>
    </div>
    <div class="bot-right-number bottom">
      <span>{{DRI}}</span>
      <span>{{DEF}}</span>
      <span>{{PHY}}</span>
    </div>
    <div class="bot-right-stats bottom">
      <span>DRI</span>
      <span>DEF</span>
      <span>PHY</span>
    </div>


  </div>


</div>
