body{
  margin: 0;
}

@font-face {
  font-family: "TangoSans";
  src: url("./assets/fonts/TangoSans.ttf");
}
@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/GeneralSans-Variable.ttf");
}
@font-face {
  font-family: "Switzer-regular";
  src: url("./assets/fonts/Switzer/Switzer-Black.ttf");
}
@font-face {
  font-family: "Switzer-italic";
  src: url("./assets/fonts/Switzer/Switzer-BlackItalic.ttf");
}
