<div *ngIf="currentUser$ | async as currentUser">
  <p>Salut {{currentUser.displayName}}!</p>
  <!--  <p>Salut {{currentUser.displayName.split(' ')[0]}}!</p>-->
</div>

<section class="hero container">
  <div class="hero-wrapper">
    <div class="text-wrapper">
      <h1 class="h1">La meilleure app pour gérer tes parties de five entre amis ! </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit est, dignissim netus molestie sem lectus et bibendum
        nullam, platea ornare eu facilisi nulla vel curae.</p>
      <a href="#" class="btn btn-primary"><span class="btn-label">Télécharger notre app</span></a>
    </div>
    <img src="../../assets/images/img-header.png" alt="" class="hero-img">
  </div>
</section>

<section class="strat container">
  <div class="strat-left strat-flex">
    <div class="text-wrapper">
      <h2 class="h2">Créer la composition de tes matchs et affrontes les meilleurs joueurs 🔥</h2>
      <p class="mb-40">Lorem ipsum dolor sit amet consectetur adipiscing elit est, dignissim netus molestie sem lectus
        et bibendum
        nullam, platea ornare eu facilisi nulla vel curae.</p>
      <a href="#" class="btn btn-primary">
        <span class="btn-label">Je fonde mon équipe</span>
      </a>
    </div>
    <img src="../../assets/images/start-left.png" class="strat-img img-left">
  </div>
  <div class="strat-right strat-flex">
    <div class="text-wrapper">
      <h2 class="h2">Suis en temps réel le classement de ta ligue 🏆</h2>
      <p class="mb-25">Lorem ipsum dolor sit amet consectetur adipiscing elit est, dignissim netus molestie sem lectus
        et bibendum
        nullam, platea ornare eu facilisi nulla vel curae.</p>
      <p class="mb-40">Porttitor nam sapien ad ut dui et magnis orci cum per suspendisse ante, aptent inceptos tellus
        augue lacinia
        nec nisl odio torquent dapibus. Sapien facilisis morbi velit enim ac, aliquam dictum consequat purus venenatis
        ridiculus.</p>
      <a href="#" class="btn btn-primary"><span class="btn-label">Je surveille le classement</span></a>
    </div>
    <img src="../../assets/images/start-right.png" class="strat-img img-right">
  </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
