@import "../../styles.scss";

section.hero {
  margin-top: 50px;

  .hero-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: $margin-section;

    .text-wrapper {
      display: flex;
      flex-direction: column;
      padding-right: 90px;

      .h1,
      p {
        width: 80%;
      }
    }
  }

  .hero-img {
    width: 340px;
    height: 330px;
  }
}

section.strat {
  position: relative;
  width: 100%;
  background-color: $light-grey;
  padding: 80px 0;
  margin-bottom: $margin-section;

  .strat-flex {
    // margin: 0 50px;
    display: flex;
    justify-content: space-between;

    &.strat-right {
      flex-direction: row-reverse;

      .text-wrapper {
        margin-left: 100px;

        p {
          width: 70%;
        }

        .mb-25 {
          margin-bottom: 25px;
        }
      }

      .strat-img {
        box-shadow: 10px -10px 0px $alt-green;
      }
    }

    &.strat-left {
      margin-bottom: 100px;

      .text-wrapper {
        margin-right: 100px;

        p {
          width: 70%;
        }
      }

      .strat-img {
        box-shadow: -10px -10px 0px $alt-green;
      }
    }

    .mb-40 {
      margin-bottom: 40px;
    }
  }

  .strat-img {
    width: 40%;

    &.img-left {
      width: 430px;
      height: 290px;
    }

    &.img-right {
      width: 320px;
      height: 425px;
    }
  }
}

section.keys {
  margin-bottom: calc($margin-section / 2);

  .keys-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .key-title {
      margin-bottom: 100px;
    }

    .numbers-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;

      .number {
        margin-bottom: 0;
        font-size: 4rem;
        color: $green;
        font-weight: $medium-weight;
      }

      .text {
        font-size: 2rem;
        font-size: $medium-weight;
      }

      .players,
      .matchs,
      .sponsors {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
    }
  }
}

section.push-bottom {
  background-color: $black;
  color: $white;
  margin-bottom: calc($margin-section / 2);

  p {
    margin-bottom: 0;
    font-weight: $bold-weight;
    font-size: 2.2rem;
  }

  .push-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
  }

  .btn {
    background-color: $green;
  }
}
