<footer>
  <div class="footer container">
    <div class="footer-columns">

      <div class="left-footer-column">
        <div class="footer-column">
          <a class="logo" routerLink="/">FUT5</a>
          <p class="copryright" >Copryright &copy; {{currentYear}} - FUT5</p>
          <img src="../../assets/images/app-store.png" class="app-store">
          <img src="../../assets/images/google-play.png" class="google-play">
        </div>
      </div>

      <div class="right-footer-column">
        <div class="footer-column">
          <div class="footer-title">
            Choisis ta langue
          </div>
          <div class="footer-flag">
            <img src="../../assets/images/flag-fr.svg" class="flag-fr">
            <img src="../../assets/images/flag-es.svg" class="flag-es">
            <img src="../../assets/images/flag-en.svg" class="flag-en">
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">
            A propos de FUT5
          </div>
          <div class="footer-links">
            <a href="#">Nous rejoindre</a>
            <a href="#">Blog</a>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">
            Fonctionnalités
          </div>
          <div class="footer-links">
            <a href="#">Classement</a>
            <a href="#">Rechercher un joueur</a>
            <a href="#">Personnaliser son compte</a>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">
            Une question ?
          </div>
          <div class="footer-links">
            <a href="#">FAQ</a>
            <a href="#">contact@fut5.fr</a>
            <a href="#">01 47 88 96 20</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="sub-footer container">
    <div class="sub-footer-wrapper">
      <a href="#">Mentions légales</a>
      <a href="#">CGU</a>
    </div>
  </div>
</footer>
